h1 {
    color: #a200ff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #303030;
}

p {
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

ul, a {
    color: #ff00ea;
    font-size: 30px;
}

img {
    border: 3px solid black;
    border-radius: 10px;
}