h1 {
    color: #0dff00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #303030;
}

p {
    color: #FFFFFF;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

ul, a {
    color: #ff00ea;
    font-size: 30px;
}

img {
    border: 3px solid black;
    border-radius: 10px;
}

#playButton {
    padding: 50px 200px;
    font-size: 100px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #ff0000;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.container {
  display: flex;
  justify-content: center; /* Horizontally centers */
  align-items: center;    /* Vertically centers */
  height: 100vh; /* Makes the container take up the full screen height */
}

#shyBoiVideo {
    display: none; /* Video je na začátku skryté */
}